server {
  listen 80 default_server;
  listen [::]:80 default_server;

  root /var/www/html;

  index index.html index.htm index.nginx-debian.html;

  server_name {{ domain_name }} "";

  if ($scheme != 'https') {
    return 301 https://$server_name$request_uri;
  }

  include /etc/nginx/location.d/*;
}
